[2017-02-20 05:04] query-string opened #1 "It would be nice to extract guidelines-based styles to a separate gem"
Since we are going to use them for other projects as well

[2017-02-20 06:14] query-string commented on #1
Or perhaps wrapping styles into npm-package will be better in this case...

[2017-02-20 08:36] skatkov commented on #1
@query-string yeah, i was thinking about this too -) but the problem is, we need it for sinatra, rails and npm in this case. So let's leave it for later :)

I would create an issue in sep-guidelines, not here though -)

[2017-02-20 08:37] query-string commented on #1
Yeah, it was more like a reminder to self )

On Mon, Feb 20, 2017 at 15:36 Stanislav Katkov

<
mailto:Stanislav Katkov <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

https://github.com/query-string
yeah, i was thinking about this too -) but the problem is, we need it for sinatra, rails and npm in this case. So let's leave it for later :)

I would crea

[2017-02-28 09:30] skatkov commented on #1
I created corresponding issues in sep-guideliness
https://github.com/saberespoder/sep-guidelines/issues

closing this issue.

[2017-02-28 09:30] #1 closed, assigned to nobody

[2017-03-09 19:14] skatkov opened #2 "Improve footer"
Copy pages from old sepcontent page, to new sepcontent project:
about -> http://about.saberespoder.com/about-us/
remove 'Corporate'
home - replace to 'saberespoder' and link to saberespoder.com
'legal' -> https://sepcontent.herokuapp.com/tnc
remove 'help'

Currently footer is full page width, with should match with all the content of the page.
<img width="960" alt="screen shot 2017-03-09 at 21 12

[2017-03-09 19:18] skatkov opened #3 "Social network sharing"
add http://www.sharethis.com/ buttons on all pages

[2017-03-09 19:20] skatkov opened #4 "Add rss feed to all articles"
what title says ^^ and be sure that rss will be detected by browsers

each section should have separate RSS feed

[2017-03-09 19:24] skatkov opened #5 "Fix menu for small screens"
<img width="537" alt="screen shot 2017-03-09 at 21 23 15" src="https://cloud.githubusercontent.com/assets/544377/23766763/c9357a44-050e-11e7-8184-369f56bda743.png">

Then page becomes to small for menu to fit a page, menu should turn into hamburger menu

[2017-03-09 19:27] skatkov opened #6 "Should include Open Graph data"
SMO: All articles have to contain og meta tags to be shareable with expected titles, descriptions and images: https://blog.kissmetrics.com/open-graph-meta-tags/

[2017-03-09 19:27] skatkov opened #7 "Migrate all the data from sepcontent platform to contentful"

[2017-03-09 21:45] query-string opened #8 "Make related articles block appealing"
At the moment there are just plain links to another articles. It would be nice to add images at least.

[2017-03-14 07:10] query-string commented on #7
I'm going to create a new branch in the old sepcontent repo and add the new exporter class there. AFAIU – my local DB has all of the articles that we need to export already, so we even wouldn't need to merge this exporter library with master ¯\_(ツ)_/¯

[2017-03-14 16:31] skatkov opened #9 "Create a video how to create articles in contenful platform"
Upload video to youtube with saberespoder.com
Make it private, but available only for @saberespoder.com accounts

[2017-03-14 16:33] skatkov opened #10 "Create accounts for admins in contenful platform"
Erik, Stan, Stas - should be an admin
Alex, Alessio, David - developers

Create an editor role that admins can manage

[2017-03-14 16:35] skatkov opened #11 "Add domain name for a project"
domain should be blog.saberespoder.com (Erik will confirm)

[2017-03-14 16:37] skatkov opened #12 "SEO: add keywords and description for a project"
After @stan2020 will provide all the needed information - implement it in code.

[2017-03-14 16:41] etavenn commented on #11
@ahemmat @stan2020 @raul any ideas on what our content page domain should be?

I lean towards articulos.saberespoder.com

blog.saberespoder.com
articulos.saberespoder.com
contenido.saberespoder.com

[2017-03-14 16:51] stan2020 commented on #11
i'd prefer saberespoder.com/finanzas, saberespoder.com/educacion, et al, rather than anything.saberespoder.com.  it's [generally thought to be better for SEO](https://moz.com/community/q/moz-s-official-stance-on-subdomain-vs-subfolder-does-it-need-updating) and that's certainly been my experience. it also looks cleaner, making it easier for users to remember your URL.  and it's a little cleaner fo

[2017-03-14 16:54] ahemmat commented on #11
Stan has a good point here if this is an option.

A

[2017-03-14 16:56] stan2020 commented on #11
sep/[topic] is generally better b/c it's closer to the root, but a close second would be sep/contenido/finanzas or sep/recursos/finanzas.  articles isn't good b/c we'll have videos, polls and other content over time.  i'm not a fan of "blog" b/c we'll offer much more than that, b/c some 3rd-party reporting tools like comscore will literally put you in their "blog/UGC" bucket (undesirable for many

[2017-03-14 17:09] skatkov commented on #11
:(

Our main platform - SEP platform will be hosted on saberespoder.com . That platform will have all the community building and user engaging features.

Content Platform (this project) - is our platform for public outreach, marketing material, for driving traffic to our main platform, boosting SEO rankings and etc. THIS PLATFORM has nothing to do with saberespoder.com and should have a separate D

[2017-03-14 18:03] etavenn commented on #11
@stan2020 @ahemmat
it would be something.saberespoder.com/[insert different categories like finanzas, salud, etc] so the categories will still be there.

Our overall goal is to deliver products and services through a conversational interface. In this conversational interface we will also provide links to content which will reside in this project which is like our "blog" section. Content is very im

[2017-03-14 19:51] stan2020 commented on #11
@skatkov i loved your video the first time i saw it!  i even voted for it for best foreign film at the oscars, but alas we didn't win.  :)

if one of the stated goals of the new site is better SEO, why use a domain that will result in worse SEO?

all of your points are valid from a back-end perspective but the fact that we use different platforms behind the scenes and think of them as different fu

[2017-03-14 21:17] stan2020 commented on #12
Description:  SABEResPODER te ayuda prosperar en los EEUU, con recursos y contestas personalizadas a tus preguntas sobre inmigración, educación, finanzas, salud y otros asuntos importantes.  Tu causa es nuestra causa!

Keywords:
Inmigracion, ciudania, preguntas, articulos, derechos, finanzas, salud, educacion, comunidad, consulado, visa, pasaporte, estados unidos, informacion, ofertas, viviendo en

[2017-03-14 23:30] skatkov commented on #11
@stan2020 Wait, did you just used a 3 years old article to build your argument against subdomain? I just googled 'subdomain vs subfolder' (and some other variations with 'SEO subdomain') and this link came up first. Are you sure that you know what your talking about? did you read at least 10 pages of that search result ? :-D Do you understand how PageRank works if you trust first link you see in g

[2017-03-15 00:51] stan2020 commented on #11
@skatkov what's the technical limitation?  I may have missed it, but I haven't heard a valid reason yet for not doing subfolders, only your arguments that our internal platforms are different, that there MAY not be much of a difference in SEO and that it's a waste of time to even discuss, which is less of an argument than a bullying tactic.  :)

The downsides I mentioned -- and another I haven't -

[2017-03-15 02:55] query-string commented on #10
We will probably need to pay some extra $, because basic Contentful plan includes only 3 users. Also, as I mentioned in Slack – at the moment we are unable to uncheck unnecessary publishing event (such as articles autosave) and as a result deployment webhook fires every time when article changes. I think it is due to Basic plan limitations.

[2017-03-23 10:52] query-string opened #14 "Adjust Contentful webhooks so content rebiulds only when master branch updated"
Otherwise it's getting updated even when PR added

[2017-04-03 07:35] query-string commented on #7
Hi guys! Could you please confirm that we have to import all of articles available on the content platform at the moment, not only articles related with Finanzas, Inmigración, Salud, Educación categories? Initially I thought only these four categories should be imported because only they appear on the top bar of content.saberespoder.com. But it looks like we have more categories among 135 active a

[2017-04-03 07:46] FanaHOVA commented on #7
@query-string most of those articles aren't relevant anymore, but you
should ask @etavenn/@stan2020 to make sure, they might want to migrate them
over to keep links/search results alive. Does Contentful have any limits on
amount of articles?

On Mon, 3 Apr 2017 at 09:35, Alex Timofeev <notifications@github.com> wrote:

[2017-04-03 08:58] query-string commented on #7
@FanaHOVA as far as I know – no, there is no limitation on entries number, only users and content types are limited.

[2017-04-03 08:59] FanaHOVA commented on #7
@query-string sounds good, let's wait on the green light from product team then!

[2017-04-03 09:25] query-string commented on #7
@stan2020 @etavenn, just FYI  – there are eight categories associated with active articles ["Impuestos", "Finanzas", "Salud", "Inmigración", "Educación", "Preguntas", "Noticias", "Trabajo"]. I agree with Alessio – once current implementation of content platform website will be deactivated it would be nice to have copies of active articles accessible, even though some of them is not relevant anymor

[2017-04-04 14:19] query-string commented on #7
Articles data exporter is ready for review 🎉  Though, I would like to discuss some migration issues @skatkov @FanaHOVA:

1. It was not obvious from the beginning, but content platform articles in test database seems to be different from articles in the production database. Thereby, to have relevant articles on Contently export process must be initiated on the production instance.
2. I think this i

[2017-04-04 14:25] FanaHOVA commented on #7
@query-string wooho! I think sepcontent has its own database which isn't
updated like we do with with inboundsms/research. Let's run the migration
in production. About the images, I think we can leave them there. They
might be linked somewhere else too and we might break something
accidentally. About the categories I'm not entirely sure, but we will know
more once we launch this and product peeps

[2017-04-04 15:16] stan2020 commented on #7
@query-string @FanaHOVA sorry for the slow response!  Yes, please do keep all of the articles.  The ones that fall outside of our current focus categories still bring in a trickle of search traffic, and we may broaden categories in the future.

Let me know if you have any other questions.

Thanks.

[2017-04-04 19:31] etavenn commented on #7
@query-string so if I understand correctly:

There are 135 articles, but not all of them are under the 4 categories on today's content site. There are 8 categories.

The question is:
1) Which articles should we import
2) Under which categories should those articles be imported

As @stan2020 said, let's import all of them. If the articles without a category HAVE to belong to a category then stick t

[2017-04-04 19:43] skatkov commented on #7
I should correct Alessio and clarify that:
- old sepcontent, inboundsms, research project share SAME database
- Problem with images is that, we don't migrate them to staging instance of S3 - so they are probably missing because of that

regarding which articles to migrate, those smart gentlemen up there ^^ nailed it down properly. it would be easy to delete them from contentful if some of them are

[2017-04-06 12:00] query-string commented on #14
Fixed in this PR #13, gracias @dvdbng

[2017-04-06 12:00] #14 closed, assigned to query-string

[2017-04-06 12:07] query-string commented on #4
Fixed in this PR #18

[2017-04-06 12:07] #4 closed, assigned to nobody

[2017-04-07 09:58] query-string commented on #5
Resolved in this PR #19

[2017-04-07 09:58] #5 closed, assigned to nobody

[2017-04-10 09:03] query-string opened #22 "SEO: get rid of multiple URls for identical articles"
I have recently come across one issue on Content Platform that could possibly affect search engines ranking of articles there...

It turns out that some articles (I guess all of articles that belong to more than one category) appear with different URLs, e.g.:
https://content.saberespoder.com/articulos/educaci%C3%B3n/tramite-su-acta-de-nacimiento-sin-salir-del-pais
https://content.saberespoder.com/

[2017-04-10 09:06] FanaHOVA commented on #22
👍 Sounds good to me, since the categories will still be listed in the article we shouldn't lose search hits either since they are in the page content.

[2017-04-11 11:54] query-string commented on #2
Resolved by PR #24

[2017-04-11 11:54] #2 closed, assigned to nobody

[2017-04-11 11:55] query-string commented on #3
Resolved by PR #21

[2017-04-11 11:55] #3 closed, assigned to nobody

[2017-04-11 11:55] query-string commented on #12
Resolved by PR #23

[2017-04-11 11:55] #12 closed, assigned to stan2020

[2017-04-11 15:25] query-string commented on #8
@skatkov related articles block looks like this
![image](https://cloud.githubusercontent.com/assets/160712/24916926/c97fc3b8-1f05-11e7-9057-9fa9e10b6afd.png)

[2017-04-12 13:51] query-string commented on #8
Fixed in PR #25

[2017-04-12 13:51] #8 closed, assigned to nobody

[2017-04-12 16:43] stan2020 commented on #22
If we're saying we'll eliminate all but one version of identical articles, I completely agree.  But please redirect the killed URLs to the lone survivor so that we don't lose whatever SEO traffic was going to those ones we're offing.

[2017-04-12 16:59] skatkov commented on #22
@stan2020 out of all the articles that we have only 28 are indexed by google. I don't understand what are you worrying about.

[2017-04-12 19:10] stan2020 commented on #22
@skatkov more than 28 articles show up in search results, despite only 28 being officially indexed.  I believe it's around 12,000:  https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=site:www.saberespoder.com&start=0
I think that, as a rule, we should redirect when we kill a page -- esp. when there's an identical survivor, but happy to discuss.

[2017-04-13 15:43] query-string commented on #6
Resolved in PR #26

[2017-04-13 15:43] #6 closed, assigned to nobody

[2017-04-19 16:26] skatkov opened #38 "Replace ad placeholder with real text"
Here are promotional text for our main platform from @stan2020

1) Preguntas sobre educación - escuelas locales, clases de inglés, GED? ¡Envíelas a 72237 y obtenga una respuesta directamente a su teléfono!
2) ¿Sabía usted que puede ganar dinero haciendo horas extras con su teléfono celular? Haga clic aquí para aprender cómo!
3) ¿Ha escuchado que puede ganar $1, $5, hasta $10 contestando encuestas?

[2017-04-19 16:32] skatkov commented on #11
domain name :
http://comunidad.saberespoder.com/

[2017-04-19 17:13] stan2020 commented on #38
Sorry, I should've pointed out that promotions 2 and 3 should link to the panelist overview page:  https://content.saberespoder.com/ofertas/Trabajo/como-ser-miembro-del-grupo-de-opinion-de-saberespoder

Promo 1 doesn't actually need to link anywhere since we're encouraging them to text us a question.

Is it possible to vary the links like that, or does every promotion need to link to something and

[2017-04-24 15:19] skatkov opened #46 "Please decrease social network overdose"
<img width="1013" alt="screen shot 2017-04-24 at 18 18 04" src="https://cloud.githubusercontent.com/assets/544377/25344330/7a404600-291a-11e7-983f-cfb6dd9cbc95.png">

This is a bit too much, can we just leave facebook and twitter?

[2017-04-25 10:20] query-string commented on #46
Sure thing we could. I would insist on leaving the print button as well though.

[2017-04-25 15:24] query-string commented on #46
@skatkov done. Does it feel better in this way?

![image](https://cloud.githubusercontent.com/assets/160712/25393476/bd19035e-2a05-11e7-9c7d-3e0fe44ab1c6.png)

[2017-04-25 19:29] skatkov commented on #46
@alex I'm not sure about printing button? it looks like every browser has 'print' button. Why do you think it's necessary ?

[2017-04-26 04:12] query-string commented on #46
@skatkov I predicted this question and I have a feeling that only more or less "advanced" users might be aware of printing functionality. On the other hand – this button cries out about this option so it could prompt the end user to print the page ).
It is not like this button is really necessary but it could save just a couple of seconds to someone and it doesn't cost us anything.

[2017-04-30 19:56] query-string commented on #38
@stan2020 no worries, it doesn't really matter if promotion has to have a link or not – we can vary the links as we want

[2017-05-02 01:22] etavenn commented on #7
@query-string @skatkov what about existing comments on articles?
![screenshot 2017-05-01 at 6 21 28 pm](https://cloud.githubusercontent.com/assets/16109106/25600729/16c9c2f0-2e9b-11e7-90d1-58abea437e7e.png)

Had a few people point out that the new site doesn't support it. Were you thinking of importing them as well?

[2017-05-02 01:27] skatkov commented on #7
@etavenn currently we don't support comments on new platform, so there is nowhere to import.

[2017-05-02 02:03] etavenn commented on #7
@skatkov got it.  Is there a plan to add comments section in future iterations?

Got a lot of feedback that the current comments might be worth archiving for import to the new platform.

Reasons listed:
1. user experience - they can see what questions they've asked
2. community validation. Platform seems more reliable/trustworthy if others have used it
3. Users feel more comfortable asking their q

[2017-05-02 02:47] skatkov commented on #7
@etavenn no plans.

http://www.niemanlab.org/2015/09/what-happened-after-7-news-sites-got-rid-of-reader-comments/

[2017-05-02 07:26] query-string commented on #46
@skatkov please, let me know if you are eventually OK about that extra print button or against it in principal – I'm good to go with either option.

[2017-05-02 07:30] query-string commented on #11
@skatkov since it's going to be a completely different name and won't affect any existent logic – can we try to apply this domain for sepcontent.s3-website-us-east-1.amazonaws.com asap?

[2017-05-02 11:37] query-string opened #49 "Attach legit authors to all of articles (degrade Alexo Rodriguez)"
All content appears to be written by Alexo Rodrigues (this is something Admin changes as well, right? If so, can we add a different default name? Lot's of work to change the editor name one-by-one)

To resolve this issue, I would approach it in this way:
1. _On the Contentful side_ – add a new content type called `Author`. This content type should have following fields: first name, last name, phot

[2017-05-02 12:03] query-string opened #50 "Make `About us` section editable"
Copy in the "about us" section is not current (I believe Admins will be able to edit that themselves, right?)

In fact, this section is not editable from Contentful at the moment. To achieve requested result we will have to add a new `Page` content type, make content platform support these pages and update _About us_ on Contentful. I'll ping @etavenn and @stan2020 here once it will be available fo

[2017-05-02 12:15] query-string opened #51 "Translate English labels to Spanish"
Initially, @etavenn requested only `All` tab translation [here](https://github.com/saberespoder/inboundsms/issues/2194), but I wonder if other strings should be translated accordingly.

1. "All" tab is in English. Change to "Index"
2. Prev/next pagination
3. Home, About in footer
4. Related articles block

If I'm right and those strings have to be translated as well – I'd be appreciated if you cou

[2017-05-02 12:39] query-string opened #52 "Change phone number in the footer"
Bottom of page has the wrong number

[2017-05-02 12:49] query-string commented on #52
@etavenn is `(310) 826-3900` the right one?

[2017-05-02 14:13] query-string opened #53 "Content Platform v1 extinction plan"
One of the main reasons of Content Platform v2 existence is our urgent need to reduce database workload on the expense of moving dynamically generated pages to the static form (and moving out from our servers as an extra benefit). On the other hand, as @stan2020 and @etavenn have mentioned repeatedly – we will need to keep articles and comments accessible for internal usage (and as a backup in cas

[2017-05-02 15:42] query-string opened #54 "Implement articles search"
Using DuckDuckGo or Google

[2017-05-02 15:54] query-string opened #55 "Improve test coverage"
At the moment only feature specs exist on the project (which is fine because the main responsibility of this solution is, well, to generate HTML). But still – feature specs coverage could be better. Besides, some functional specs at least for `blog_helper.rb` will help with maintenance in the future.

[2017-05-02 15:56] query-string opened #56 "Match the design of the homepage and content site"

[2017-05-02 16:31] FanaHOVA commented on #54
Google is dropping Site Search. Does Contentful have search? We can probably add a simple search with a couple Ajax calls.

[2017-05-02 17:01] skatkov commented on #54
We can use https://aws.amazon.com/cloudsearch/ that will index our S3 bucket.

[2017-05-02 21:12] stan2020 commented on #49
@query-string sounds like a good plan.  happy to jump in whenever you need me.

i'm just trying to decide whether it's better to use imaginary author names or something like "SABEResPODER Equipo Editorial".  publishers sometimes get dinged for inventing writers.  it can come off as sketchy.  either way, your approach should work b/c "SABEResPODER Equipo Editorial" could just be one of the names we

[2017-05-02 22:39] stan2020 commented on #50
Just saw I was assigned this one.  Is the About page editable now?

[2017-05-02 22:55] stan2020 commented on #51
Prev/next pagination:  pagina anterior (previous page), siguiente página (next page)
Home, About in footer:  Home>Inicio, About>Quienes Somos
Related articles block:  Contenido Relacionado

[2017-05-02 22:59] stan2020 commented on #53
Works for me.  Will the archive be searchable?

[2017-05-02 23:44] etavenn commented on #7
@skatkov interesting article.

Here are my thoughts:

1) Our commentors aren't pseudonumous avatars, are they?

2) The news organizations quoted in the article are news organizations. I would argue that we go beyond "news" and actually are more of a "how-to" resource. Our most popular "articles" are "how-to's". Our users aren't simply commenting on the article, but they are actually asking questio

[2017-05-03 00:04] stan2020 commented on #7
@skatkov @etavenn i've been on the fence about Comments.

one the one hand, as Stas notes, many publishers have dropped their Comments section.  we dropped our disqus comment sections at Ranker and never looked back.  they were getting less action the more mobile & social our audience went, and we couldn't attribute more than 10% of our search traffic to them (not worth the real estate vs other pa

[2017-05-03 01:13] etavenn commented on #52
Good question. There are two ossible numbers. They both call the same
number. I don't know what the difference is. Oscar knows and I've asked him
in another issue. Let's see what he says

On Tue, May 2, 2017 at 5:49 AM, Alex Timofeev <notifications@github.com>
wrote:

--

*Erik Tavenner-Acosta*

Director, Product Management & Operations

Office: +1 310 826 3900

SABEResPODER

1849 Sawtelle Blvd.,

[2017-05-03 09:01] FanaHOVA commented on #7
@stan2020 I think the only reason why it'd make sense to add the Facebook Comments would be connecting user accounts to Facebook accounts. If that's not a possibility, we should just replace the comments section with the Ask a Question bar similar to the homepage one. Two pros that I see:

- User gets sent back to their profile, they find out about other stuff that we do
- Questions aren't public,

[2017-05-03 14:09] query-string commented on #52
@etavenn I've changed the hard coded phone number to ENV variable and set it as `(310) 826-3900`. If it will be confirmed that this number is not the best choice for this case – we will be able to change it in seconds ;)

[2017-05-03 15:50] query-string commented on #50
@stan2020 yes sir, if you have access to Contentful, editor will be available on https://app.contentful.com/spaces/oa34n7smn7kt/entries/2rKqKmw6yc0kEai6I84ge2
When you finish editing just press `Publish changes` button and changed page will be uploaded to http://sepcontent.s3-website-us-east-1.amazonaws.com/about-us/ within 2-3 minutes (you could monitor platform channel in Slack – it usually show

[2017-05-03 16:27] query-string opened #60 "Replace or remove broken external links inside articles"
As I remember – it should be a list of broken links saved somewhere and it would be great if we can eliminate all of them during this iteration. @stan2020, I'd be really appreciated if you could skim through the list and replace (or remove) these broken links from the articles.

Since all of the articles are on Contentful already you will need to ping @skatkov or @etavenn to obtain login and passw

[2017-05-03 16:44] etavenn commented on #49
@query-string so basically @stan2020 and I could change the default editor name to "SABEResPODER Equipo Editorial" (step 3)?

We can also modify the other authors, right? We would do this once the platform goes live?

[2017-05-03 16:52] query-string commented on #49
@etavenn yep, almost right – I think it will be better to perform all of
steps before running the platform ) I'll try to implement this
functionality earlier tomorrow and ping you and Stan so you could take a
look how it work in life

[2017-05-03 18:34] etavenn commented on #53
sounds good to me, @query-string !

A future use that comes to mind is showing users what articles they've commented in the past and the answer they received by us. This data will still be found in our DB, right? I guess this would also answer @stan2020 's question I think

[2017-05-03 19:19] etavenn commented on #7
As both @stan2020 and @FanaHOVA mentioned, we could add some sort of functionality that allows the user to ask a question. I lean towards "ask a question" bar @FanaHOVA mentions that takes the user back into the SMS experience. It allows the user to take action immediately without having to take further steps to text in the question.

I wonder if users are less likely to ask a question if they hav

[2017-05-03 19:34] skatkov commented on #7
I've been reasoning with myself about comments and I think it's not worth it:
- Disqus has huge downsides (read more here -> http://donw.io/post/github-comments/ )
- Migrating comments from old platform to Disqus is close to impossible
- Building our own version of disqus is very time-consuming - spam protection, profanity protection, moderation and etc.
- We actually need to moderate those

With

[2017-05-03 19:40] etavenn commented on #52
@query-string thanks! Number to be changed to (844) 447-2237 please :)

[2017-05-03 19:43] etavenn commented on #50
Thank you @query-string . Will notify the team so they can start editing it.

[2017-05-03 19:44] skatkov commented on #7
The best open-source Disqus-like solution i've found back then i was planning things is
https://github.com/phusion/juvia

But project is not maintained, it doesn't have all the features we need.

[2017-05-03 19:55] etavenn commented on #49
@query-string sounds good!

[2017-05-03 21:41] etavenn commented on #60
@query-string quick question:
Do we use the same log in info for all editors? I believe editors are using the tech@ account. That's the account log in info I was planing on giving @stan2020

[2017-05-03 22:13] etavenn commented on #7
I think we're all in agreement that a traditional comments section is not needed.  If we realize we need one later down the road then we can think about it then.

What I think we also agree on is that users will have questions when they read these articles. We want to make it as easy as possible for them to do so and get answers. @FanaHOVA 's suggestion is promising. I think we should consider tha

[2017-05-03 22:45] stan2020 commented on #7
Sounds good for launch.

[2017-05-03 22:56] skatkov commented on #7
I think we need to cross post on all social networks too and better track comments/hashtags in social media.

We can totally automate cross posting to different social networks.

[2017-05-03 22:57] skatkov commented on #7
in slack we can start monitoring some hashtags if that is needed, takes 5-10 minutes to setup.

[2017-05-03 22:58] skatkov commented on #7
A lot of companies offer support through twitter. I enjoy it. And I can read other people questions.

[2017-05-04 08:53] FanaHOVA commented on #7
Let's see how things develop, our Twitter only has 700 followers which is really low; I'm wondering if it's just lack of interest or lack of users in our demographic on the platform (maybe @stan2020 has more data about this). Either way every comment should also be recorded as a question by the system, this way both Q&A and users have a way to access all questions easily, one through Staff Tasks a

[2017-05-04 14:01] query-string commented on #52
@etavenn thanks, done ✔️

[2017-05-04 14:20] query-string commented on #60
@etavenn to be honest – I wouldn't recommend using _tech@_ account for editors mostly because, as always, it has superuser privileges (which means more power than just entries management). It is not that I'm expecting somebody will want to destroy content models or change sensitive settings purposely, but I always feel safer when critical abilities restricted :P

We actually have another `Tester T

[2017-05-04 14:31] query-string commented on #50
@etavenn cool! It would be great if we could handle this issue asap – it is one of the most important ones and can potentially block this release. Stas is eager to run content platform during this iteration and you know... sometimes I think he is more dangerous person than my landlady 😁

[2017-05-04 17:46] stan2020 commented on #60
@query-string sounds like that Tester Testerson account might be a good one for any contract/freelance editors/admins I want to have create or edit content on the platform.

Erik, how much do new accounts cost?  I think 3 will be fine for now, but at some point you run into issues of tracking/attribution/accountability in terms of who's done what during a workflow.

[2017-05-04 18:27] skatkov commented on #60
<img width="239" alt="screen shot 2017-05-04 at 21 26 26" src="https://cloud.githubusercontent.com/assets/544377/25718912/638617e8-3110-11e7-8b8f-afcc1b200e1f.png">

(c) https://www.contentful.com/pricing/

[2017-05-04 18:59] stan2020 commented on #60
Good to know.  Thx Stas.

[2017-05-04 19:34] stan2020 commented on #7
Yeah, Twitter isn't very popular with our users, per our [digital preferences survey](https://research.saberespoder.com/surveys/351/results).  85% said they never use it and only 2% use it multiple times per day.  Whatsapp, facebook and fb messenger rule the school.

BTW I'm gearing up for another sampling of that survey in the coming weeks.  If anyone has any new questions they want to get in the

[2017-05-04 19:46] skatkov commented on #7
That report could hold more data then it shows ^^

BUT, it feels like your mixing up social networks and chat apps in a lot of cases. It would be grate to have better representation across those categories, like here is list of chat app i found.

<img width="728" alt="screen shot 2017-05-04 at 22 44 07" src="https://cloud.githubusercontent.com/assets/544377/25722014/39ad49ea-311b-11e7-9c50-069a748

[2017-05-04 19:48] skatkov commented on #7
Which of these chat apps do you have on your phone?
- list

Which of these chat apps you use at least once a day?

[2017-05-04 20:01] stan2020 commented on #50
Going through and fixing broken links from Tatiana's list now.  Couple questions/issues -- and lmk if either should be its own github:
- When I tried to using the hyperlink button in the top menu to hyperlink the words "esta pagina" in [the edit view of this article](https://app.contentful.com/spaces/oa34n7smn7kt/entries/3nd6c3DMhimMiUSCiEOSku), it seems to create a new paragraph with those words

[2017-05-05 02:33] etavenn commented on #60
@stan2020 billing is already set up to add additional users should you want to add more down the line ;)

[2017-05-05 02:34] etavenn commented on #60
@query-string @tzinchenko when could Tester account be available for use by the content team?

[2017-05-05 02:44] etavenn commented on #7
@skatkov to your point, the survey does not ask how users communicate with businesses. But the answers that we did get show FB, Whatsapp and SMS as the dominant players. Posting screenshots below that caught my attention in regards to Twitter.

![screenshot 2017-05-04 at 7 40 53 pm](https://cloud.githubusercontent.com/assets/16109106/25732166/9cf9d3f2-3101-11e7-9396-979cb4169ab3.png)

![screenshot

[2017-05-05 02:45] etavenn commented on #7
@skatkov We could ask users about the other chat apps you mentioned. Telegram, Line, WeChat, Weibo, Kik, Kakao are not popular this side of the world and I would assume less so with our users. But we only truly know if we ask them! Viber might be the only exception...

[2017-05-05 02:55] etavenn commented on #50
@query-string

Can we edit the page during the process or even after? I'm afraid the copy might not be ready this week.

[2017-05-05 08:32] FanaHOVA commented on #7
Yea I agree that Viber might have a little tick simply because it was heavily branded as "call abroad for free" a few years back (I downloaded it too while traveling); the introduction of WhatsApp calls definitely hit their user base though.

@stan2020 I think "If you need support regarding a product from a company, how would you contact them?" and as options: Twitter, Facebook, Email, Phone, Phys

[2017-05-05 14:57] stan2020 commented on #50
Yes, there's no need to hold up launch for the copy on the About Us page.  The beauty of the web -- and the new platform -- is that we can make changes at any time.  I should have a draft today, but it'll take at least a few days to get to a final version.   We're not doing a big public launch or anything, that page gets extremely few visitors and living with it as is (I already chopped off the mo

[2017-05-05 17:51] etavenn commented on #50
@query-string it's also my understanding that we can edit this page at any point and it won't delay the launch of content page. If you see any reason why it would let us know. Otherwise please don't wait for changes on this page to get the rest of the platform ready to launch. :)

[2017-05-05 18:37] stan2020 commented on #60
Ok, Jholie and I fixed all the broken links in the URLs in [Tatiana's list](https://docs.google.com/spreadsheets/d/1et0CdKbYth6JH5nNfBC9IXGeIU8prkNUXp0cbuDNhx4/edit#gid=0).  Note that there was one article where I had formatting issues after fixing a link (in [this separate issue](https://github.com/saberespoder/inboundsms/issues/2390)) and [another](http://sepcontent.s3-website-us-east-1.amazonaw

[2017-05-08 09:35] tzinchenko commented on #46
Personally I agree with the first version (and I liked that all sharing worked). Internet doesn't include only Facebook and Twitter.
For example, I myself don't use Twitter at all, but use Linkedin. And we just deleted Linkedin button.
Let's ask @etavenn though.

[2017-05-08 09:40] skatkov commented on #46
@query-string let's leave for now print, let's see if it sticks ;-)

[2017-05-08 13:21] tzinchenko commented on #52
Verified on development

[2017-05-08 13:22] tzinchenko commented on #51
Verified on development

[2017-05-08 13:38] tzinchenko opened #63 "QUIÉNES SOMOS should be written on one line in mobile devices"
### Steps to reproduce
1. Open the page http://sepcontent.s3-website-us-east-1.amazonaws.com/ from the mobile device
2. Look in the footer of the page

### Actual Result
QUIÉNES SOMOS is separated

![51d086526399c8b8b81bc00d9a4faca97aaf215967a8eb4591 pimgpsh_fullsize_distr](https://cloud.githubusercontent.com/assets/8237258/25806650/364316b8-3404-11e7-88d8-bb684d4e29f2.jpg)

### Expected Result
QU

[2017-05-08 14:43] query-string commented on #49
@stan2020 @etavenn hi guys! Just letting you know that article authors are editable now, mr. Rodriguez still is a default author for all articles, but you are able to change this entry however you want https://app.contentful.com/spaces/oa34n7smn7kt/entries/4Xs1H7GKjuC6Kskk4K2I4c (please, keep author photo grayscale). You could also create more authors if you and assign them to selected articles.

[2017-05-08 15:31] query-string commented on #60
Thanks Stan, let's pass it to QA now ;)

[2017-05-08 17:52] Victoria-Vachevskih commented on #38
verified on production (http://sepcontent.s3-website-us-east-1.amazonaws.com/)

[2017-05-09 21:48] etavenn commented on #46
Of the options listed there, I know that FB is the most used. Is the pencil option SMS? According to our surveys, twitter is not used a lot.

Are these the only options available? Can we add Whatsapp?

My opinion is FB, Twitter(why not, let's give it a try), SMS, Whatsapp (if available). We could also do print.

[2017-05-09 22:06] skatkov commented on #46
pencil option is livejournal, mostly popular in Russian internet.

[2017-05-09 22:06] etavenn commented on #49
@query-string thanks! Alexoo Rodriguez will be missed.

Why greyscale?

[2017-05-09 22:11] etavenn commented on #46
ah ok. yeah let's not add livejournal then.

[2017-05-10 14:09] skatkov commented on #11
It was decided to go with **contenido.saberespoder.com** since **comunidad** doesn't properly represent goal of website

[2017-05-10 15:32] AmirHemmat commented on #11
Great, I think this is the correct move. Thanks

[2017-05-10 22:37] query-string commented on #49
@etavenn it hard to explain why it feels that colorful user pics work not so good in this case (I've tried several with Alexo already)... I think it happens because user pic is merely additional information comparing with other data in this block (title, categories, author name) but if we make it colorful it undeservedly stands out comparing to others.

[2017-05-11 00:32] etavenn commented on #49
weird. out of curiosity, what happens when we change it to colorful?

[2017-05-11 02:50] query-string commented on #49
@etavenn well, I'm not really insisting :D Just try to set colorful pic and see if it fits. Maybe it's only mine perception perceives them as color spots )

[2017-05-11 06:39] query-string commented on #46
@etavenn full list of available options attached below. And holy cow – Whatsapp exists there indeed!

![image](https://cloud.githubusercontent.com/assets/160712/25935788/f59f5016-364e-11e7-9b99-e7c832f44339.png)

[2017-05-11 09:38] query-string opened #65 "Use Travis CI for builds"
Since this project is a kind of open source it is no reason to keep using Circle CI and waste its capacity for static pages building needs. Besides, there is rumor that Travis has some cool features that Circle doesn's support.

[2017-05-11 11:08] Victoria-Vachevskih opened #66 "Error 403 appears when some articles are opened"
### Steps to reproduce
1. Goto http://sepcontent.s3-website-us-east-1.amazonaws.com/
2. Open any of these articles

The list of broken articles:
http://sepcontent.s3-website-us-east-1.amazonaws.com/articulos/educaci%C3%B3n/campana-de-momentos-consejo-semana-1-grupo-c1
http://sepcontent.s3-website-us-east-1.amazonaws.com/articulos/educaci%C3%B3n/campana-de-momentos-consejo-semana-1-grupo-c2
http://

[2017-05-11 11:53] skatkov opened #67 "Give ability to provide HUGE call-to-action button in article"
According to Stan, some account managers that ask us to write articles - love huge CALL TO ACTION buttons. We need a way in contentful to add a button in the of articles with custom text and link.

[2017-05-11 11:55] skatkov opened #68 "Adding ability to preview full article"
requested by @stan2020

He needs a way to preview full article (with image). I found this documentation:
https://www.contentful.com/r/knowledgebase/setup-content-preview/

[2017-05-11 13:04] query-string commented on #66
I think I have an explanation – I had an impression that all of the articles have slugs that much their titles (e.g. `Estafas comunes de inmigración que debe reconocer` -> `/estafas-comunes-de-inmigracion-que-debe-reconocer`) but it turns out that this statement is not always true: look at the articles listed above – none of them have slugs matching titles (`https://content.saberespoder.com/articu

[2017-05-11 15:34] Victoria-Vachevskih commented on #60
@stan2020  There are still broken external links inside several articles. I've updated Tatiana's list, I've added [Sheet2](https://docs.google.com/spreadsheets/d/1et0CdKbYth6JH5nNfBC9IXGeIU8prkNUXp0cbuDNhx4/edit#gid=739959857)

[2017-05-11 16:51] stan2020 commented on #60
Thank you for catching those, @Victoria-Vachevskih.  I fixed the first one, but the link in the 2nd article was working for me.  In the 3rd one, I fixed the text and removed the bad link, but I don't see the changes taking effect in [the article](http://sepcontent.s3-website-us-east-1.amazonaws.com/articulos/inmigraci%C3%B3n/se-acerca-la-fecha-l-iacute-mite-para-beneficiarse-de-la-expansi-oacute-n

[2017-05-11 21:29] skatkov commented on #11
Done! Project available here -> http://contenido.saberespoder.com

[2017-05-11 22:24] query-string commented on #11
Thanks Stas, I feel now I'm almost ready to open a bottle of wine to celebrate )

[2017-05-11 23:50] etavenn commented on #49
@query-string got it! I think we are going to use this:

![screenshot 2017-05-11 at 4 50 04 pm](https://cloud.githubusercontent.com/assets/16109106/25976452/e83a884e-3669-11e7-89eb-b8a469522f3a.png)

[2017-05-11 23:52] etavenn commented on #46
@query-string is changing the channel buttons something a non-techie can do?

[2017-05-12 09:41] query-string commented on #46
@etavenn sure thing, there is a control panel on sharethis.com from where this screenshot has been taken, I'll send you credentials over DM

[2017-05-12 09:52] query-string commented on #49
@etavenn
![image](https://cloud.githubusercontent.com/assets/160712/25993140/44e84a80-3733-11e7-8cc7-d71db745bc68.png)

[2017-05-12 09:59] #7 closed, assigned to query-string

[2017-05-12 09:59] #11 closed, assigned to skatkov, etavenn

[2017-05-12 09:59] #38 closed, assigned to query-string

[2017-05-12 09:59] #46 closed, assigned to nobody

[2017-05-12 09:59] #50 closed, assigned to query-string, etavenn, stan2020

[2017-05-12 09:59] #51 closed, assigned to query-string, tzinchenko, etavenn, stan2020

[2017-05-12 09:59] #49 closed, assigned to query-string, etavenn, stan2020

[2017-05-12 11:31] tzinchenko commented on #63
Verified on development

[2017-05-12 12:26] #63 closed, assigned to nobody

[2017-05-12 23:05] etavenn commented on #46
thank you @query-string :)

[2017-05-18 15:15] query-string opened #71 "Convert several line breaks into another type of content separator"
@stan2020 has recently mentioned that Contentful preview ignores several consecutive line breaks and presents them like a single one. Most likely, it happens because of Markdown parser rules and we will have to find a way to convert several `\n` signs. into another type of element for content blocks separation...

[2017-05-18 15:32] skatkov commented on #71
What is a use case for this? I can't imagine any valid reason to add multiple line breaks.

[2017-05-18 15:36] skatkov commented on #71
Assigning 'wontfix' label for now. I don't see reasons why we should fix this, seems like a very reasonable limitation by markdown.

[2017-05-21 05:35] query-string opened #72 "Setup `staging` flow"
At the moment all approved fixes and improvements go directly to production so QA will actually have to review them after deployment which is not clever approach for many reasons. My proposal is:

– Establish `staging` branch where changes from approved PRs should go
– All changes merged with staging will be deployed to sepcontent.s3-website-us-east-1.amazonaws.com and this bucket should be consid

[2017-05-21 05:38] query-string opened #73 "Rename `sepcontent-v2` repo and project to `contenido`"
Otherwise, we will mess around `old-content`, `new-platform` definitions forever

[2017-05-22 08:35] FanaHOVA commented on #72
I don't like this approach, simply because we don't have enough tasks. I agree that a staging environment might be good to setup, but putting ourselves in a 2 weeks cycle seems counterproductive. This app is really small and requires little to no testing since all the heavy logic is taken care of by Contentful, so let's keep things rolling quickly.

Regarding Contentful, I don't see any benefit in

[2017-05-22 15:05] stan2020 commented on #71
@skatkov there are times a writer/editor wants more space to emphasize a line / paragraph / point or set off an image.  In general our text is already pretty crowded together, which is not good for readability, esp. on lower brightness that many people set their phones to in order to save battery power.  It's not an urgent priority but it's a basic functionality and definitely one we should add.

[2017-05-22 15:23] query-string commented on #72
Yeah, 2  weeks cycle seems a bit overcomplicated, but I needed some starting point... What would you recommend then? Maybe PR -> review -> staging -> QA -> production?

I was mostly concerned not about data itself, but about data structure. Its changes is not frequent thing indeed, but if one start to ignore manual synchronization models discrepancy starts to accrue like a snowball. Although, if w

[2017-05-22 15:25] skatkov commented on #72
Let's discuss it on All hands meeting? I wrote it down in my notes and will bring it up then.

[2017-05-22 18:35] skatkov commented on #73
Cool. Need to do!

[2017-05-22 18:41] skatkov commented on #72
Promoting this to critical - I talked with Stan about this and his problem could be solve by this too.

[2017-05-22 18:46] skatkov commented on #72
Technical requirements:

- [ ] script to import contentful settings
- [ ] script to export contentful settings
- [ ] automated solution that 'adjusts settings' based on file from tools (changes to contentful should not be done manually, but only with script/definition file)
- [ ] functioning staiging instance

[2017-05-22 18:50] skatkov commented on #72
https://github.com/contentful/contentful-import
https://github.com/contentful/contentful-export

[2017-06-13 06:21] #52 closed, assigned to tzinchenko

[2017-06-13 06:41] query-string commented on #72
@skatkov let's discuss what is meant by the `staging instance` now to be on the same page ;) When I firstly created this issue I thought that the staging instance could be something more like another set of settings (dedicated Contentful space + separate CI build settings + another bucket) for QA testing needs. But after re-reading your conversation with Stan I can conclude that we probably need a

[2017-07-13 14:38] #10 closed, assigned to skatkov

[2017-07-27 04:04] #73 closed, assigned to query-string

[2017-07-27 11:15] query-string opened #80 "Add some kind of status page"
So editors will be able to track build stage

[2017-07-27 16:53] #72 closed, assigned to query-string

[2017-08-28 18:26] etavenn commented on #67
@query-string @tzinchenko @blancaamtz continuing convo about [Blanca's request](https://github.com/saberespoder/inboundsms/issues/2830#issuecomment-325284797)

I'm cool with adding this if it doesn't push our other issues behind. @blancaamtz would it work for you if this feature went live in ~3 weeks time?

[2017-08-28 18:46] blancaamtz commented on #67
Hi Erik,

For me I would give you all of the time you need but unfortunately we don't
have it.  Our live date is 9/18 and we have to provide completed landing
page to client for legal review.  By any chance can it be done by the 8th?
I am so sorry for the short turn around time :-(.  Please let me know if
you need anything else from me, thank you, b.

On Mon, Aug 28, 2017 at 1:26 PM, etavenn <noti

[2017-08-28 19:29] etavenn commented on #67
@tzinchenko @query-string I think we should recreate this issue so that it appears in waffle.

Also, after talking to @blancaamtz this is a must have for the project. Would you do this one, @query-string ? If so, do we need to reassign a task or move one out of this release?

[2017-08-29 07:00] query-string commented on #67
@etavenn no need to recreate the issue – I've connected `contenido` repo with Waffle a while ago and would encourage people to create new issues here rather than in `inboundsms` with _Content Platform_ label... I added Backlog and Release 6.6 labels so now the issue [appears on the board](https://waffle.io/saberespoder/inboundsms?milestone=Release%206.6).

Could you please clarify the timing one m

[2017-08-30 14:48] etavenn commented on #67
@query-string thanks! I believe we need this by the 8th of September so delivering with 6.6 (Sept. 7th) would work. @blancaamtz FYI

[2017-08-30 15:10] etavenn commented on #67
@query-string what about button placement. Can we make it a bit flexible? I know Blanca was hoping for it to be placed near the top text. I think others may want ot place at the bottom and others above the text.

Blanca's preference:
![button for aarons](https://user-images.githubusercontent.com/16109106/29879694-1d92eb2e-8da6-11e7-8c8e-21ce8d46165f.png)

[2017-08-30 15:16] blancaamtz commented on #67
Thank you all for your time and assistance with this,  For the purpose of this campaign we need the button to be very visible that is why we need it at the top.  Also just in case I am not able to customize the name of the button - can it be named  "Participe" ?  If you have any questions or need anything from me, please let me know.  Thank you! b.

[2017-08-30 19:55] blancaamtz commented on #67
Hi Team,
Quick question for you - can we add a hyperlink to an image in an article? Where I am going with this is the following...can we add a hyperlink to the TV image (or section of it like the circle if we get an updated image) on saberespoder.com/aarons?  If so, would this be something that you would have to do or I can do on my end? Thank for your time, b.

[2017-09-01 11:52] query-string commented on #67
@etavenn no problema – I'll add an ability to set button position (top/bottom)

[2017-09-01 12:01] query-string commented on #67
Hi @blancaamtz
In regards to the button name – no worries, it will be possible to customise it. And speaking of clickable image – there is no possibility to make photo clickable on your end at the moment, but I can add this options pretty quick in case if the whole picture will serve as the hyperlink. Making clickable a particular area of the picture, in general, is potentially doable, but I can't

[2017-09-01 13:53] blancaamtz commented on #67
Hi Alex, thank you for all of the information that you provided.  The
button options are great and now knowing that the image could be clickable
let me get back with you on that by end of day today.

Thank you all, b.

On Fri, Sep 1, 2017 at 7:01 AM, Alex Timofeev <notifications@github.com>
wrote:

--

Blanca Trujillo
Project Manager

blanca@saberespoder.com
+1 210.347.4143 <(210)%20347-4143>

*Vi

[2017-09-01 20:19] blancaamtz commented on #67
Happy Friday Team!

I hope all of you are doing well 😊

As a follow up to my email this morning, we had a call a few minutes ago and need to let you know/ask the following:

We thought we were going to be able to use the current title but not the case, unfortunately it needs to be updated so we apologize for the inconvenience it will cause on your end.  The update needs to be as follows:

From: ¡P

[2017-09-05 12:53] query-string commented on #67
Hi @blancaamtz

I've just changed the title and /aarons destination URL accordingly. If you will need to tweak the title one more time – feel free to do it anytime as you want, just once it's done – ping me or Erik and we will update redirection value (it basically takes a few minutes on our side).

Speaking of the clickable image – this option is already complete and needs to be tested by our QA

[2017-09-05 13:02] query-string opened #96 "Find a way to rebuild production/staging sites independently"
Otherwise, `staging` branch must be set to default on Travis every time when QA needs to test articles-changing features (which means that production articles will not be updated while QA test new feature).

[2017-09-05 13:31] query-string commented on #67
**For QA:**
I keep excruciating [this article](http://sepcontentdev.s3-website-us-west-1.amazonaws.com/articulos/impuestos/principales-tipos-de-impuestos/) ([see on Contentful](https://app.contentful.com/spaces/vcvgz0wsye4k/entries/6JYU1F5SyQoKIWCUm02UYE)). Your goals are:

– Make sure that article image becomes unclickable when `Image href` field is empty and vice versa.
– You can add and remove

[2017-09-05 13:37] blancaamtz commented on #67
Hi Alex,
Thank you for your time and assistance with this.

We hope that this will be the last time we need to update the title but will let you know if for some reason it needs to be done again.

As for the clickable image, we are good for the whole image to be clickable so no need to do anything else here.

In regards to my goals, you have them both correct. Please let me know if you need anythi

[2017-09-06 12:26] Kefirka commented on #67
Verified

[2017-09-08 11:49] query-string commented on #67
@blancaamtz @etavenn hi guys! I'm just letting you know that both, `call-to-action buttons` and `clickable image` features now available for use. To make image clickable just change Image href attribute and linking action buttons work like linking any other type of content (e.g. categories or authors)
![image](https://user-images.githubusercontent.com/160712/30210133-7b391cd2-94c5-11e7-8537-659cb1

[2017-09-08 13:28] blancaamtz commented on #67
Hi Alex and team,
This is GREAT NEWS and THANK YOU for all of your time and assistance with this!!

The clickable image works great but as for the button, I published it but for some reason it doesn't show up in the article.  Can you please let me know if I am doing something wrong?  Below is the pic of the button and a link to the article. Thank you, b.

![capture](https://user-images.githubuserc

[2017-09-08 13:37] query-string commented on #67
@blancaamtz I know it works a bit weird, but even if you create a button and link it to the article page won't be updated until you press 'Publish'. I've just done exactly this and here we go:
![image](https://user-images.githubusercontent.com/160712/30214124-7d13e8a6-94d5-11e7-910c-07d64a0bbb45.png)

[2017-09-08 13:41] blancaamtz commented on #67
Thank you Alex, I thought I had published it but I guess I didn't :-) Have a wonderful weekend! b.

[2017-09-11 12:29] query-string opened #102 "Rebuild preguntas section separetely"
After importing 2.9K questions from the old content platform, despite all my efforts to cache downloaded questions, the entire site rebuild (time between pressing Publish button and changes reflected on the site) started to take **~30 minutes**. Initially, we did not expect to have that many pages and such time-out is totally inconceivable.

![image](https://user-images.githubusercontent.com/16071

[2017-09-11 14:00] query-string commented on #102
Zero step is done and rebuild time returned to normal (up to 5 minutes), 2.9K compiled preguntas stay unchanged between builds.

[2017-09-12 06:40] #67 closed, assigned to query-string, Kefirka

[2017-09-12 06:41] #66 closed, assigned to nobody

[2017-09-12 06:42] #65 closed, assigned to query-string

[2017-09-12 06:43] #9 closed, assigned to nobody

[2017-09-15 10:10] query-string opened #105 "Make it possible to disable releated articles block"
This option mostly needed for satisfying `aarons` lawyers recommendations, but we might need to use it for future campaigns as well.

This feature must be delivered by Friday's morning (September 17'th, US).

[2017-09-15 14:42] Victoria-Vachevskih commented on #105
verified on http://sepcontentdev.s3-website-us-west-1.amazonaws.com/

[2017-09-21 15:47] query-string opened #109 "¡Ay caramba! page improvement"
After moving from our old content platform to contenido we lost a small bunch of articles (coupons and farmsep for instance) and questions pages. To make this loss less painful for the users it would be great to improve contenido 404 page – add there the questions widget + random articles and questions block.

[2017-09-25 09:19] #105 closed, assigned to query-string

[2017-09-25 09:20] #96 closed, assigned to nobody

[2017-09-27 08:06] #53 closed, assigned to nobody

[2017-09-27 08:07] #56 closed, assigned to nobody

[2017-10-19 16:42] query-string opened #110 "Add https protocol support"
At the moment it is impossible to reach any of pages by HTTPS, only HTTP copies are available. It is very important to provide HTTP access because Google penalizes non-https websites.

[2018-01-11 00:06] #60 closed, assigned to etavenn, stan2020

[2018-01-27 08:48] query-string commented on #110
I _suddenly_ found out another reason to push on this issue – custom maintenance mode page that I recently mentioned in [#dev-team Slack channel](https://saberespoder.slack.com/archives/C242Z66SV/p1516788871000393) is now available on http://contenido.saberespoder.com/maintenance.html but... it won't be rendered because Heroku replaces all pages in maintenance mode by HTML with iframe and when ifr

[2018-02-14 13:10] #71 closed, assigned to nobody

[2018-02-14 13:14] query-string commented on #68
How to test this feature:
1. Open any article with `Draft` status (I used [this one](https://app.contentful.com/spaces/oa34n7smn7kt/entries/69sgMDubg4oS4eQaQS2Kwk) for testing) on Contentful (_sepcontent_ space)
2. Change anything in the article, make sure saving completed (status block in the right top corner should content `Last saved a few seconds ago` string)
3. Press `Open Preview` button und

[2018-02-15 15:03] Kefirka commented on #68
1. Author isn't changed

Open any article to edit
Remove current author
Add new author http://prntscr.com/if4sw4
Wait few seconds while changes are applied
Tap on Preview article button

Actual result - removed author is shown http://prntscr.com/if4u22
Expected result - new author is shown

2. Error appears when user tries to preview article with inactive category

Open any article to edit
Tap on

[2018-02-17 09:21] query-string commented on #68
1 – ✔️
2 – ✔️
3 – We are not able to affect Contentful behaviour so if time mark isn't updated after adding category/button we can only guess why Contentful engineers implemented it in this way. However – I tried to reproduce described bug and was unable to do it – if I create new category/button, no matter with attributes or not, it does update time mark 🤷‍♂️

[2018-02-19 09:22] Kefirka commented on #68
1 - verified
2 - not fixed http://prntscr.com/igqu9u

[2018-02-19 09:34] Kefirka commented on #68
4.
Open article for editing
Add existing category http://prntscr.com/igqysa
Tap on Preview button

actual result - there is no just added category
Expected result - just added category is shown http://prntscr.com/igqz4t

5.
Open article to edit
Set Display questions widget as Yes http://prntscr.com/igqzfj
Tap on Open preview button

Actual result - Question widget isn't shown http://prntscr.com/ig

[2018-02-20 13:18] query-string commented on #68
4 – despite the fact that FarmaSEP category is available for picking, this category has `inactive` status thus not displayed. To confirm that just select any other existing category which was published.
5 – ✔️

[2018-02-21 19:30] Kefirka commented on #68
All fixed for dev!

[2018-03-12 14:58] #68 closed, assigned to query-string, Kefirka

[2018-04-19 15:56] #110 closed, assigned to dvdbng

[2018-04-19 15:57] etavenn commented on #110
closed because of transition to VP webiste

[2018-05-16 14:15] #54 closed, assigned to nobody

[2018-05-31 13:30] etavenn commented on #109
Closing since for now we are using VP's page

[2018-05-31 13:30] #109 closed, assigned to nobody

[2018-07-10 23:25] #102 closed, assigned to query-string

[2018-07-10 23:26] #80 closed, assigned to nobody

[2018-07-18 01:40] #22 closed, assigned to nobody

[2018-07-18 01:41] #55 closed, assigned to query-string